.u-container {
  position: relative;
  line-height: 1.8;


  width: 800px;
  margin: 0 auto;
  padding: 4px;
}

.u-article-title {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(0 0 0 / 0.1);
}

.u-article-title .u-line {
  margin: 0;
}

.u-article-profile {
  font-size: 16px;
  line-height: 1.8;
}

.u-article-content {
  line-height: 1.8;
  font-size: 16px;
}

/* -------------- block -------------- */
.u-block {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 12px;
}

.u-block-plain {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.u-block-title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
}

.u-block-msg {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.u-block-info {
  color: #3c3c43;
  background-color: #8e96aa24;
}

.u-block-tip {
  color: #3c3c43;
  background-color: #646cff24;
}

.u-block-warn {
  color: #3c3c43;
  background-color: #eab30824;
}

.u-block-danger {
  color: #3c3c43;
  background-color: #f43f5e24;
}

.u-block-details {
  color: #3c3c43;
  background-color: #8e96aa24;
}

/* -------------- code -------------- */
.u-code {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
  max-width: 100%;
  overflow-x: auto;
  border: 1px solid #e5e7eb;
  font-weight: 400;
  white-space: nowrap;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 12px;
}

.u-code pre {
  margin: 0;
  padding: 0;
}

.u-code .line {
  line-height: 1.8;
}

.u-code-lang {
  position: absolute;
  right: 0;
  top: 0;
  top: 12px;
  right: 12px;
  z-index: 2;
  font-size: 12px;
  font-weight: 600;
  color: #3c3c438f;
}

.u-code:hover .u-code-lang {
  opacity: 0;
  z-index: -1;
}

.u-code-copy {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 16px;
  color: #3c3c438f;
  opacity: 0;
  cursor: pointer;
}

.u-code:hover .u-code-copy {
  opacity: 1;
}

.u-code-copy svg {
  width: 16px;
  height: 16px;
  fill: #3c3c438f;
  cursor: pointer;
}

.u-code-highlighted {
  display: inline-block;
  width: 100%;
  background-color: #8e96aa24;
  border-radius: 4px;
}

.u-code-highlighted * {
  background: transparent !important;
}

/* -------------- table -------------- */
.u-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.u-table th {
  padding: 4px;
  border: 1px solid #e5e7eb;
  background-color: #f5f5f5;
  font-weight: bold;
}

.u-table td {
  padding: 4px;
  border: 1px solid #e5e7eb;
}

/* -------------- line -------------- */
.u-line {
  margin: 1rem 0;
  padding: 0;
  color: rgba(60, 60, 67);
}

.u-br {
  padding: 1rem 0;
}

/* -------------- divide -------------- */
.u-hr {
  margin: 1rem 0 0.5rem 0;
  border: 0.5px solid rgb(235, 236, 240);
}

/* -------------- title -------------- */
.u-h {
  position: relative;
}

.u-h .text {
  cursor: default;
}

.u-h-anchor {
  position: absolute;
  left: -1.5rem;
  text-decoration: none;
  user-select: none;
  font-weight: 400;
  opacity: 0;
}

.u-h-anchor:hover {
  opacity: 1;
}

.u-h span:hover+.u-h-anchor {
  opacity: 1;
}

.u-h1 {
  padding: 0 0 2rem 0;
  font-size: 2rem;
  font-weight: 800;
}

.u-h1 .u-h-anchor {
  position: absolute;
  left: -1.5rem;
  top: 0;
}

.u-h2 {
  padding: 4rem 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  border-top: 1px solid #e2e2e3;
}

.u-h3 {
  padding: 2px 0 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.u-h4 {
  font-size: 1rem;
  font-weight: 500;
}

/* -------------- list -------------- */
.u-list {
  margin: 1rem 0 1rem 0;
  color: rgba(60, 60, 67);
}

.u-list .u-list {
  margin: 0;
}

.u-list li+li {
  margin-top: 4px;
}

.u-ol {
  list-style: decimal;
  padding-left: 1.25rem;
}

.u-ul {
  list-style: circle;
  padding-left: 1.25rem;
}

/* --------------  -------------- */
.u-blockquote {
  margin: 1rem;
  padding: 1rem 0rem 1rem 1rem;
  background-color: rgba(142, 150, 170, 0.14);
  border-left: 4px solid #ccc;
  font-weight: 500;
  border-radius: 0 8px 8px 0;
}

.u-blockquote .u-blockquote {
  margin: 0;
}

/* --------------  -------------- */
.u-strong {
  font-weight: 600;
  font-size: 1.15rem;
}

.u-a {
  color: #3451b2;
  font-weight: 500;
  padding: 0 2px;
  transition:
    color 0.25s,
    opacity 0.25s;
  text-decoration: underline;
  text-underline-offset: 2px;
  font-size: 1rem;
}

.u-line-code {
  display: inline-flex;
  padding: 2px 4px;
  color: #3451b2;
  background-color: rgba(142, 150, 170, 0.14);
  font-weight: 400;
  border-radius: 4px;
  transition:
    0.25s,
    background-color 0.5s;
}

.u-img {
  margin: 1rem auto;
  padding: 2px;
  width: 95%;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}